.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bold-info {
  font-weight: bold;
}

.match-list {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: center;
}

.card-in-list {
  margin: 20px;
}

.active-link {
  border-bottom-color: #3273dc !important;
  color: #3273dc !important;
}